<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Grab</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar-grab">             
        <nav>
        <a href="{% url 'cclbapp:index' %}" class="button">Home</a>
        <a href="{% url 'cclbapp:properties' %}" class="button">Properties</a                          
        
                                

    class="box">
    <br>
    <br>
    <br>
    <p>What Is A Land Bank:</p>
    <br>
    <p>The Land Bank is a statutory tool that partners with cities to return tax delinquent dilapidated, and abandon properties to productive use. Your local Land Bank Authority processes applications from interested governmental agencies, businesses and individuals, and conveys the desired properties for public use, or to be reintroduced into the revenue-producing tax rolls.<p>     
    <br>
    <br>
    <br>
    <p>Grab Your Property:<p>
    <p>Please note that every local Land Bank Authority has its own steps and procedures in acquiring Tax Deed and Title.  Please contact your local municipality office to for details.</p>
        </nav>
        </div>      
    
    </div>
  

</body>
</html>