<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container-frame">
    <a href="{% url 'cclbapp:index' %}" class="button">Home</a>
    <a href="{% url 'cclbapp:howtograb' %}" class="button">How To Grab</a>

        <br>
        <br>

    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1OGUQrsxmK96d7F78A-oQLIgtzBalSuDE&ehbc=2E312F" width="100%" height="800"></iframe>

    
    </div>

</body>

              
                    
               


